<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Titre</td>
            <td>Contenu</td>
            <td>Créer le </td>
            <td>Maj le</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
            <tr>
                <td>{{article.id}}</td>
                <td>{{article.title}}</td>
                <td>{{article.content}}</td>
                <td>{{article.createdAt | date('d/m/y')}}</td>
                <td>{{article.updatedAt | date('d/m/y')}}</td>
                <td>
                    <a href="{{ path('admin_article_edit', {id: article.id}) }}">Modifier</a>
                    <form action="{{ path('admin_article_delete', {id:article.id}) }}" method="POST" onsubmit="return confirm('Etes-vous de vouloir supprimer cet article ?')">
                        <input type="hidden" name="token" value="{{ csrf_token('delete' ~ article.id) }}"> 
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table> 